{% extends('base.html') %}

{% block content %}

<diu class="conte">

<div class="instruction">2 - Remplissez les valeurs</div>
<div class="img">
   <img src='static\actu-nutriscore-dietetique.jpg' alt="image nutriscore">
</div>
<table>
    <thead>
        <tr>
            <th>Informations nutritionnelles</th>
            <th>Quantité</th>
            <th>Points</th>
        </tr>
    </thead>
    <tr id="groupe_energie" class="groupe">

    <form action="{{ url_for('loginn') }}" method="post">
    <tr>
        <td><label for="energy_100g">energy_100g</label></td>
        <td width="90px"><input type="number" id="energy_100g" name="energy_100g" placeholder="0"  /> g</td>

	</tr>

    <tr class="groupe_fat" id="groupe_matieres_grasses">
        <td><label for="fat_100g">fat_100g</label></td>
        <td><input type="number" id="fat_100g" name="fat_100g" placeholder="0"  /> g</td>
    </tr>
    <tr id="groupe_saturated" class="groupe">
        <td><label for="saturated_fat_100g">saturated_fat_100g</label></td>
        <td><input type="number" id="saturated_fat_100g" name="saturated_fat_100g" placeholder="0" /> g</td>

    </tr>

    <tr>
        <td><label for="carbohydrates_100g">carbohydrates_100g</label></td>
        <td width="90px"><input type="number" id="carbohydrates_100g" name="carbohydrates_100g" placeholder="0"  /> g</td>

	</tr>


    <tr id="groupe_fiber" class="groupe">
        <td><label for="fibre_100g">fibre_100g</label></td>
        <td><input type="number" id="fibre_100g" name="fibre_100g" placeholder="0" /> g</td>

	</tr>




   <tr id="groupe_proteins" class="groupe">
        <td><label for="proteins_100g">proteins_100g</label></td>
        <td><input type="number" id="proteins_100g" name="proteins_100g" placeholder="0"/> g</td>

	</tr>

    <tr id="groupe_salt" class="groupe">
        <td><label for="salt_100g">salt_100g</label></td>
        <td><input type="number" id="salt_100g" name="salt_100g" placeholder="0"/> g</td>
    </tr>

 </table>
       <input type="submit" class="btn btn-primary" value="valider">
  </form>
</div>



    {% endblock %}


